<template>
  <main>
    <div class="card">
      <h3>LOGIN</h3>
      <form @submit="submit">
        <input type="email" name="" id="email" placeholder="Email" v-model="email" />
        <input type="password" name="" id="password" placeholder="Password" v-model="password" />
        <button type="submit">Submit</button>
      </form>
    </div>
  </main>
</template>

<script>
import axios from 'axios'
import Cookies from 'universal-cookie'

export default {
  data() {
    return {
      email: '',
      password: '',
      response: {}
    }
  },
  methods: {
    async submit(e) {
      e.preventDefault()

      const data = {
        email: this.email,
        password: this.password
      }

      await axios
        .post('http://127.0.0.1:8000/api/login', data)
        .then((response) => {
          if (response.status == 200) {
            this.response = response?.data

            const cookies = new Cookies(null, { path: '/' })

            cookies.set('_uid', response?.data?.success?.accessToken)

            this.$router.push('/chat')
          }
        })
        .catch((err) => {
          console.log('err', err)
        })
    }
  },
  beforeMount() {
    const cookies = new Cookies(null, { path: '/' })

    const uid = cookies.get('_uid')

    if (uid) {
      this.$router.push('/chat')
    }
  }
}
</script>

<style>
@import url('../assets/login.scss');
</style>
