<template>
  <main>
    <div class="card">
      <h3>Verification OTP</h3>
      <form action="" method="post">
        <div class="containerOTP">
          <input type="text" pattern="[0-9]{1}" maxlength="1" />
          <input type="text" pattern="[0-9]" maxlength="1" />
          <input type="text" pattern="[0-9]" maxlength="1" />
          <input type="text" pattern="[0-9]" maxlength="1" />
        </div>
        <button type="submit">Submit</button>
      </form>
    </div>
  </main>
</template>

<script>
export default {
  name: 'VerificationView'
}
</script>

<style>
@import url('../assets/login.scss');
</style>
