<template>
  <main class="navbar">
    <div class="logo">
      <img src="../assets/logo.svg" alt="Logo" />
    </div>
    <ul>
      <li>
        <RouterLink to="/">Home</RouterLink>
      </li>
      <li>
        <RouterLink to="/chat">Chat</RouterLink>
      </li>
    </ul>
  </main>
</template>

<style>
@import '../assets/navbar.scss';
</style>
