.card {
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 100%;
    height: fit-content;
    max-width: 600px;
    background-color: var(--primary);
    padding: 30px 35px;
    margin: auto;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;

    h3 {
        font-size: 24px;
        font-weight: 700;
        text-align: center;
        color: white;
    }

    input:focus,
    input:active,
    input:focus-visible {
        outline: unset;
        border-color: white;
        background-color: white
    }

    form {
        display: flex;
        flex-direction: column;
        gap: 12px;
    }

    input {
        width: 100%;
        border-radius: 50pc;
        border: 1px solid white;
        background-color: white;
        padding: 10px 20px;
        color: var(--primary);
    }

    button {
        width: 100%;
        padding: 12px;
        background-color: var(--secondary);
        margin-top: 30px;
        color: white;
        font-weight: 700;
        border: unset;
        border-radius: 50pc;
        -webkit-border-radius: 50pc;
        -moz-border-radius: 50pc;
        -ms-border-radius: 50pc;
        -o-border-radius: 50pc;
        cursor: pointer;
    }
}

.containerOTP {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 12px;
    width: fit-content;
    margin: 0px auto;

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
    }

    input {
        max-width: 45px;
        height: 45px;
        text-align: center;
        font-weight: 700;
        padding: 0px;
        font-size: 16;
        line-height: 45px;
        border-radius: 8px;
        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        -ms-border-radius: 8px;
        -o-border-radius: 8px;
    }
}