@import './base.css';

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100vw;
    padding: 20px 0px;
    background-color: var(--black);
    position: relative;

    .logo {
        position: absolute;
        height: 30px;
        display: flex;
        left: 20px;

        img {
            width: 100%;
            height: 100%;
        }
    }

    ul {
        list-style: none;
        display: flex;
        flex-direction: row;
        gap: 40px;
        padding: 0px;
        margin: 0px;

        li {
            width: auto;
            font-weight: bold;
            padding-bottom: 5px;

            a {
                position: relative;
                color: var(--primary);
                text-transform: uppercase;
            }

            a:hover {
                font-weight: 500;
                color: var(--primary);
                background-color: unset;
            }

            a::after {
                content: "";
                position: absolute;
                bottom: -5px;
                left: 0;
                width: 0%;
                height: 2px;
                background-color: var(--primary);
                transition: all ease-in-out .2s;
                -webkit-transition: all ease-in-out .2s;
                -moz-transition: all ease-in-out .2s;
                -ms-transition: all ease-in-out .2s;
                -o-transition: all ease-in-out .2s;
            }

            a:hover::after {
                width: 100%;
                transition: all ease-in-out .2s;
                -webkit-transition: all ease-in-out .2s;
                -moz-transition: all ease-in-out .2s;
                -ms-transition: all ease-in-out .2s;
                -o-transition: all ease-in-out .2s;
            }
        }
    }
}