.sidebar {
    max-width: 300px;
    width: 100%;
    display: flex;
    flex-direction: column;
    border-right: 1px solid #32495e4d;
    height: 100%;

    .profile {
        display: flex;
        flex-direction: row;
        width: 100%;
        gap: 12px;
        padding: 20px 20px;
        border-bottom: 1px solid #32495e4d;

        .wrapperImage {
            display: flex;
            width: 40px;
            height: 40px;
            border-radius: 50pc;
            -webkit-border-radius: 50pc;
            -moz-border-radius: 50pc;
            -ms-border-radius: 50pc;
            -o-border-radius: 50pc;
            background-color: white;
            overflow: hidden;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        .wrapperText {
            margin: auto 0px;
            max-width: calc(100% - 52px);

            .name {
                font-weight: 700;
                color: var(--primary);
                display: -webkit-box;
                -webkit-line-clamp: 1;
                -webkit-box-orient: vertical;
                overflow: hidden;
            }
        }
    }

    .friendList {
        display: flex;
        flex-direction: column;
        gap: 12px;
        padding: 20px;
        // padding-bottom: 0px;
        // max-height: calc(100vh - (69px + 61px));
        overflow-y: scroll;

        .card {
            display: flex;
            justify-content: center;
            padding: 8px;
            border: 1px solid rgb(64 184 131 / 9%);
            background-color: transparent;
            border-radius: 8px;
            -webkit-border-radius: 8px;
            -moz-border-radius: 8px;
            -ms-border-radius: 8px;
            -o-border-radius: 8px;
            cursor: pointer;

            .profile {
                margin: auto;
                padding-bottom: 0px;
                border: unset;
                padding: 0px;

                .name {
                    font-size: 14px;
                }

                .message {
                    font-size: 12px;
                    margin: 0px;
                    display: -webkit-box;
                    -webkit-line-clamp: 1;
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                }
            }
        }

        .card.new {
            position: relative;
            border-color: var(--primary);
        }

        .card.new::after {
            content: "1";
            position: absolute;
            top: -5px;
            right: -5px;
            min-width: 20px;
            width: auto;
            padding: 0px 5px;
            height: 20px;
            background-color: var(--primary);
            border-radius: 50pc;
            -webkit-border-radius: 50pc;
            -moz-border-radius: 50pc;
            -ms-border-radius: 50pc;
            -o-border-radius: 50pc;
            font-weight: 700;
            text-align: center;
            display: flex;
            justify-content: center;
            line-height: 20px;
        }

        .card:hover {
            background-color: hsl(160deg 100% 37% / 32%);
        }

        .card.active {
            background-color: var(--primary);

            .name {
                color: white;
            }
        }
    }

    /* width */
    .friendList::-webkit-scrollbar {
        width: 5px;
    }

    /* Track */
    .friendList::-webkit-scrollbar-track {
        background: transparent;
    }

    /* Handle */
    .friendList::-webkit-scrollbar-thumb {
        cursor: pointer;
        background: rgb(64 184 131 / 9%);
        border-radius: 50pc;
        -webkit-border-radius: 50pc;
        -moz-border-radius: 50pc;
        -ms-border-radius: 50pc;
        -o-border-radius: 50pc;
    }

    /* Handle on hover */
    .friendList::-webkit-scrollbar-thumb:hover {
        background: var(--primary);
    }
}